:root{
  --exness-yellow: #ffcf01;
  --exness-light-gray: #e9e9e9;
  --exness-black: #000000;
  --exness-gray: #26292D;
  --light-gray: #cccccc;
  --breadcrumb: #ddd;
}

html {
  font-size: 62.5%; /* 1rem = 10px. This allows me to control the font size by percentage */
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: var(--exness-light-gray);
}

.container-fluid.navigation{
  background: var(--exness-black);
  flex: 0; /* avoid navigation bar to expand when the content is not fully fetched */
}

nav .nav-link{
  color: var(--exness-light-gray);
}

nav ul {
  font-size: 1.3rem;
}

nav .nav-item{
  text-transform: uppercase;
}

nav .nav-item + .nav-item {
  margin-left: 10px;
}

#breadcrumb {
  background: var(--breadcrumb);
}

#breadcrumb ol{
  margin-bottom: 0;
  background: inherit;
}

.breadcrumb-item a{
  color: var(--exness-gray);
}

.breadcrumb-item a:focus,
.breadcrumb-item a:hover{
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before{
  content: '>';
}

#loading-text{
  display: flex;
  justify-content: center;
  align-items: center;
}

.remaining-height{
  flex: 1; /* the main content where should occupy all the remaining height*/
}

#product-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 145px;
  padding: 10px;
  box-shadow: 4px 2px 6px var(--light-gray);
  margin: 12px 10px;
  background: var(--white);
  border-radius: 6px;
}

.product img {
  width: 100%;
  height: 115px;
  object-fit: contain;
}

.product span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.product .product--category{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 8px 0 10px;
  text-transform: capitalize;
}

.product .product--title{
  font-size: 1.2rem;
  font-weight: 500;
}

.product button {
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  margin-top: 8px;
  background: var(--exness-yellow);
  color: var(--exness-gray);
}

footer {
  background: var(--exness-gray);
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

footer a + a {
  margin-left: 30px;
}

footer img{
  width: 20px;
}

/*****  MODAL Styles *****/

#modal--item-added-to-cart .modal-title{
  font-size: 1.5rem;
}

#modal--item-added-to-cart .modal-content{
  height: 200px;
}

#modal--item-added-to-cart .modal-header{
  height: 20%;
}

#modal--item-added-to-cart .modal-body{
  height: 80%;
  display: flex;
  align-items: flex-start;
}

#modal--item-added-to-cart .modal-body{
  display: flex;
  align-items: flex-start;
  padding: 14px;
}

#modal--item-added-to-cart .modal-body img{
  height: 100%;
  max-width: 100px;
  object-fit: contain;
  margin-right: 20px;
}

#modal--item-added-to-cart .modal-body div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}

#modal--item-added-to-cart .modal-body span{
  display: block;
  font-size: 1.8rem;
}

#modal--item-added-to-cart .modal-body .modal--item-title{
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html{
    font-size: 70%; /* 1rem = 11.2px. */
  }

  .product {
    width: 150px;
    margin: 28px 11px;
  }

  footer {
    padding: 30px 0;
  }

  footer img{
    width: 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 80%; /* 1rem = 12.8px. */
  }

  .product {
    width: 190px;
    margin: 30px 16px;
  }

  footer img{
    width: 20px;
  }
}
