html {
  font-size: 62.5%; /* 1rem = 10px. This allows me to control the font size by percentage */
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

nav ul {
  font-size: 1.3rem;
}

nav .nav-item{
  text-transform: uppercase;
}

nav .nav-item + .nav-item {
  margin-left: 10px;
}

.container{
  flex: 1;
}

.container--centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 145px;
  padding: 10px;
  box-shadow: 0 2px 8px #ccc;
  margin: 24px 10px;
}

.product img {
  width: 100%;
  height: 115px;
  object-fit: contain;
}

.product span {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1rem;
}

.product .product--category{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin: 8px 0 10px;
  text-transform: capitalize;
}

.product .product--title{
  font-size: 1.2rem;
  font-weight: 500;
}

.product button {
  width: 100%;
  height: 35px;
  text-transform: uppercase;
  margin-top: 8px;
}

/*****  MODAL Styles *****/

#modal--item-added-to-cart .modal-title{
  font-size: 1.5rem;
}

#modal--item-added-to-cart .modal-content{
  height: 200px;
}

#modal--item-added-to-cart .modal-header{
  height: 20%;
}

#modal--item-added-to-cart .modal-body{
  height: 80%;
  display: flex;
  align-items: flex-start;
}

#modal--item-added-to-cart .modal-body{
  display: flex;
  align-items: flex-start;
  padding: 14px;
}

#modal--item-added-to-cart .modal-body img{
  height: 100%;
  max-width: 100px;
  object-fit: contain;
  margin-right: 20px;
}

#modal--item-added-to-cart .modal-body div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}

#modal--item-added-to-cart .modal-body span{
  display: block;
  font-size: 1.8rem;
}

#modal--item-added-to-cart .modal-body .modal--item-title{
  line-height: 1.2;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html{
    font-size: 70%; /* 1rem = 11.2px. */
  }

  .product {
    width: 150px;
    margin: 28px 11px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html{
    font-size: 80%; /* 1rem = 12.8px. */
  }

  .product {
    width: 190px;
    margin: 30px 16px;
  }
}
